/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

.game-board {
  perspective: 55rem;
}

.card {
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card-content {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-content-back {
  transform: rotateY(180deg);
}
